==
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ this.page.title }} - Skills Academies</title>

    <link rel="stylesheet" href="/themes/bristol-dwp/assets/css/app.css">
    <style>
        @import url('https://rsms.me/inter/inter.css');
        html { font-family: 'Inter', sans-serif; }
        @supports (font-variation-settings: normal) {
            html { font-family: 'Inter var', sans-serif; }
        }
    </style>
    <script src="/themes/bristol-dwp/assets/js/app.js" defer></script>
</head>
<body>

    {% page %}

    {% partial 'global/footer' %}
    
</body>
</html>