==
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if this.page.title == 'Home' %}Boost your skillset & employability{% else %} {{ record.title }} {% endif %} - Skills Academies</title>

    <link rel="stylesheet" href="/themes/bristol-dwp/assets/css/app.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <script src="/themes/bristol-dwp/assets/js/app.js" defer></script>
</head>
<body>
{% partial 'global/header' %}
{% partial 'global/modal' %}

<div class="pt-20">
    {% page %}
</div>

{% partial 'global/footer' %}
</body>
</html>