==
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% if this.page.title == 'Home' %}Boost your skillset & employability{% else %} {{ record.title }} {% endif %} - Skills Academies</title>

    <link rel="stylesheet" href="/themes/bristol-dwp/assets/css/app.css">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <script src="/themes/bristol-dwp/assets/js/app.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    {% framework %}
    <script>
        $( document ).ready(function() {
            var navbar = document.getElementById('navbar');

            var sticky = navbar.offsetTop;

            window.onscroll = function () {
                var scrollPos = window.pageYOffset + (5 * parseFloat(getComputedStyle(document.documentElement).fontSize));

                if (scrollPos >= sticky) {
                    if (! navbar.classList.contains('sticky')) {
                        navbar.classList.add('sticky');
                        navbar.classList.add('top-20');
                        navbar.classList.add('w-full');
                    };
                } else if (navbar.classList.contains('sticky')) {
                    navbar.classList.remove('sticky');
                    navbar.classList.remove('top-20');
                    navbar.classList.remove('w-full');
                };

                $('#navbar a').each(function () {
                    var currLink = $(this);
                    var icon = $(this).children('svg');
                    var refElement = $(currLink.attr('href'));

                    if (refElement.position().top <= scrollPos) {
                        $('#navbar a').removeClass('border-pink-500');
                        $('#navbar a').removeClass('text-pink-600');
                        $('#navbar a').removeClass('focus:text-pink-800');
                        $('#navbar a').removeClass('focus:border-pink-700');
                        $('#navbar svg').removeClass('text-pink-500');
                        $('#navbar svg').removeClass('group-focus:text-pink-600');
                        currLink.addClass('border-pink-500');
                        currLink.addClass('text-pink-600');
                        currLink.addClass('focus:text-pink-800');
                        currLink.addClass('focus:border-pink-700');
                        icon.addClass('text-pink-500');
                        icon.addClass('group-focus:text-pink-600');
                    } else {
                        currLink.removeClass('border-pink-500');
                        currLink.removeClass('text-pink-600');
                        currLink.removeClass('focus:text-pink-800');
                        currLink.removeClass('focus:border-pink-700');
                        icon.removeClass('text-pink-500');
                        icon.removeClass('group-focus:text-pink-600');
                    };
                });
            };
        });
    </script>
</head>
<body>
{% partial 'global/header' %}
{% partial 'global/modal' %}

<div class="pt-20">
    {% page %}
</div>

{% partial 'global/footer' %}
</body>
</html>
