==
<div class="relative bg-white">
  <div class="flex justify-between items-center p-2 sm:px-6 md:justify-start md:space-x-10">
    <div>
      <a href="#" class="flex">
        <img class="h-14 w-auto sm:h-12" src="/themes/bristol-dwp/assets/img/branding/sa-logo-trimmed.svg" alt="Skills Academies Logo" />
      </a>
    </div>
    <div class="hidden md:flex-1 md:flex md:items-center md:justify-between md:space-x-12">
      <nav class="flex space-x-10">
        <div class="relative">
          <div class="relative mx-auto text-gray-600">
            <input class="border border-gray-300 bg-white h-10 px-5 pr-32 rounded-sm text-sm focus:outline-none" type="search"
              name="search" placeholder="Search">
            <button type="submit" class="absolute right-0 top-0 mt-3 mr-4">
              <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966"
                style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="512px" height="512px">
                <path
                  d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
              </svg>
            </button>
          </div>
        </div>
      </nav>
      <div class="flex items-center space-x-8">
        <span class="inline-flex rounded-md shadow-sm">
          <a href="#" class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-sm text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
            Enrol Now
          </a>
        </span>
      </div>
    </div>
  </div>
</div>