==
<a class="relative invisible -top-36" id="about"></a>
<div id="about" class="bg-gray-50">
    <div class="max-w-screen-xl mx-auto px-8 py-16">
        <div class="text-xl leading-6 font-semibold uppercase tracking-wider text-gray-700 text-center">
            About the course
        </div>
        <div class="mt-10">
            <h2 class="mt-2 text-gray-900 text-3xl leading-9 font-extrabold tracking-tight sm:text-4xl sm:leading-10">
                Summary
            </h2>
            <div class="mt-3 text-lg leading-7 text-gray-800 leading-relaxed spaced">
                {{ record.summary|raw }}
            </div>
        </div>
        <div class="mt-20">
            <h2 class="mt-2 text-gray-900 text-3xl leading-9 font-extrabold tracking-tight sm:text-4xl sm:leading-10">
                What skills will you learn?
            </h2>
            <div class="mt-3 text-lg leading-7 text-gray-800 leading-relaxed spaced">
                {{ record.skills|raw }}
            </div>
        </div>
    </div>
</div>
