<div id="navbar" class="bg-white hidden sm:block h-16 shadow">
    <nav class="flex -mb-px max-w-screen-xl mx-auto px-8 h-full">
        <a href="#about" class="group inline-flex items-center py-4 px-1 border-b-2 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300">
            <svg class="-ml-0.5 mr-2 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-600" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z" clip-rule="evenodd"></path><path d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"></path></svg>
            <span>About the course</span>
        </a>
        <a href="#why" class="ml-8 group inline-flex items-center py-4 px-1 border-b-2 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300">
            <svg class="-ml-0.5 mr-2 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-600" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
            <span>Why choose this course?</span>
        </a>
        <a href="#info" class="ml-8 group inline-flex items-center py-4 px-1 border-b-2 border-transparent font-medium text-sm leading-5 text-gray-500 hover:text-gray-700 hover:border-gray-300 focus:outline-none focus:text-gray-700 focus:border-gray-300" aria-current="page">
            <svg class="-ml-0.5 mr-2 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-600" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
            <span>More information</span>
        </a>
    </nav>
</div>

<script>
    var navbar = document.getElementById('navbar');

    var sticky = navbar.offsetTop;

    window.onscroll = function () {
        var scrollPos = window.pageYOffset + (5 * parseFloat(getComputedStyle(document.documentElement).fontSize));

        if (scrollPos >= sticky) {
            if (! navbar.classList.contains('sticky')) {
                navbar.classList.add('sticky');
                navbar.classList.add('top-20');
                navbar.classList.add('w-full');
            };
        } else if (navbar.classList.contains('sticky')) {
            navbar.classList.remove('sticky');
            navbar.classList.remove('top-20');
            navbar.classList.remove('w-full');
        };

        $('#navbar a').each(function () {
            var currLink = $(this);
            var icon = $(this).children('svg');
            var refElement = $(currLink.attr('href'));

            if (refElement.position().top <= scrollPos) {
                $('#navbar a').removeClass('border-indigo-500');
                $('#navbar a').removeClass('text-indigo-600');
                $('#navbar a').removeClass('focus:text-indigo-800');
                $('#navbar a').removeClass('focus:border-indigo-700');
                $('#navbar svg').removeClass('text-indigo-500');
                $('#navbar svg').removeClass('group-focus:text-indigo-600');
                currLink.addClass('border-indigo-500');
                currLink.addClass('text-indigo-600');
                currLink.addClass('focus:text-indigo-800');
                currLink.addClass('focus:border-indigo-700');
                icon.addClass('text-indigo-500');
                icon.addClass('group-focus:text-indigo-600');
            } else {
                currLink.removeClass('border-indigo-500');
                currLink.removeClass('text-indigo-600');
                currLink.removeClass('focus:text-indigo-800');
                currLink.removeClass('focus:border-indigo-700');
                icon.removeClass('text-indigo-500');
                icon.removeClass('group-focus:text-indigo-600');
            };
        });
    };
</script>
